<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
xmlns:tx="http://www.springframework.org/schema/tx"
xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd"
default-autowire="byName">
    <!--Area的spring配置文件-->
    <!--<bean id="areaDAO" class="com.xiaoxiang.area.dao.hibernate.AreaDAOHibernate">
        <property name="hibernateTemplate" ref="hibernateTemplate" />
    </bean>-->
    <bean id="areaDAO" class="com.xiaoxiang.area.dao.ibatis.AreaDAOIbatis" parent="baseDAO"></bean>
    <!--<bean id="areaDAOJTA" class="com.xiaoxiang.area.dao.ibatis.AreaDAOIbatis" parent="baseDAOJTA"></bean>
    <bean id="areaDAOJTA2" class="com.xiaoxiang.area.dao.ibatis.AreaDAOIbatis" parent="baseDAOJTA2"></bean>-->

    <!--事务-->
    <bean id="areaService" parent="baseService">
        <property name="target">
            <bean class="com.xiaoxiang.area.service.AreaServiceImpl">
                <property name="dao">
                    <ref bean="areaDAO"/>
                </property>
            </bean>
        </property>
    </bean>
    <!--事务-->
    <!--<bean id="areaServiceJTA" parent="baseTransactionProxy">
        <property name="target">
            <bean class="com.xiaoxiang.area.service.AreaServiceImpl">
                <property name="dao">
                    <ref bean="areaDAO"/>
                </property>
                <property name="areaDAOJTA">
                    <ref bean="areaDAOJTA"/>
                </property>
                <property name="areaDAOJTA2">
                    <ref bean="areaDAOJTA2"/>
                </property>
            </bean>
        </property>
    </bean>-->
</beans>
