<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <!--日志放置目录,可配置-->
    <Property name="log.path" value="/home/admin/task/logs" />
    <!-- 仅在开发时使用 -->
   <Property name="log.pattern" value="%n%-4r [%d{yyyy-MM-dd HH:mm:ss}] - %X{method} %X{requestURL}?%X{queryString} [ip=%X{remoteHost}, ref=%X{xForwardedFor}, ua=%X{userAgent}] %n %-5level %logger{80}[%F:%L] - %m%n" />
    <!-- 仅在开发时使用 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
            <encoding>UTF-8</encoding>
			<pattern><![CDATA[
              ${log.pattern}
            ]]></pattern>
		</layout>
	</appender>

    <!--输出到文件-->
    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${log.path}/xiaoxiang.log</File>
        <append>false</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.path}/xiaoxiang.%d{yyyy-MM-dd}.log</FileNamePattern>
            <MaxHistory>14</MaxHistory>
        </rollingPolicy>
        <encoding>UTF-8</encoding>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern><![CDATA[
              ${log.pattern}
            ]]></pattern>
        </layout>
    </appender>

    <logger name="org.apache" level="ERROR"/>

    <logger name="org.springframework" level="ERROR"/>

    <logger name="java.sql" level="ERROR"/>

    <!-- 应用的日志 -->
    <logger name="com.xiaoxinag" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="RollingFile"/>
    </root>
</configuration>
