<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>xiaoxiang呀</title>
</head>
<body>
vm
<br/>
${message}
<br/>
loginUser:${loginUser}

<form method="post" action="/area/compare">
    <input type="text" value="" name="input1">
    <button type="submit" name="提交" value="提交">提交</button>
</form>
</body>

</html>